<div droppable class="col-md" (onDrop)="onItemDrop($event)">
	<mat-card>
		<mat-card-title id="group-title">
			{{name}}
			<button mat-mini-fab color="warn" class="float-right" (click)="delete()" matTooltip="close">
				<i class="fa fa-close"></i>
			</button>
		</mat-card-title>
		<!-- <div class="row">
            <div class="col-lg-11" id="group-title">
                <span class="title">
                    {{name}}
                </span>
            </div>
            <div class="col-xs-1">
                <button  mat-icon-button class="close-button" (click)="delete()">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div> -->
		<div class="row" *ngIf="droppedItems && droppedItems.length > 0">
			<div class="col-xs-10">
				<app-form [fields]="droppedItems"></app-form>
			</div>
		</div>
	</mat-card>
</div>