<div class="row" style="margin-top:5%">
  <div class="w-25 m-auto">
    <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
      <div class="login-box">
        <div class="login-img text-center">
          <img src="/assets/img/spatika-logo-dark.svg" alt="spatika logo" width="280px">
        </div>
        <div class="login-body p-1">
          <input matInput placeholder="email" type="text" formControlName="username">
          <hr class="m-0">
          <input matInput placeholder="password" type="password" formControlName="password">
        </div>
        <div class="login-action">
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Sign In</button>
        </div>
      </div>
      <!-- <mat-card class="login-box">
        <mat-card-header>
          <mat-card-title>
            <img src="/assets/img/spatika-logo-dark.svg" alt="spatika logo" width="200px">
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="pr-2">
          <input matInput class="pl-2" color="primary" placeholder="Username" type="text" formControlName="username"
            required>
          <input matInput class="pl-2" placeholder="Password" type="password" formControlName="password" required>
         
        </mat-card-content>
        <mat-card-actions class="w-25 m-auto">
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
        </mat-card-actions>
      </mat-card> -->

    </form>
    <div class="pt-5">
      <mat-checkbox>Remember Me</mat-checkbox>
      <a class="float-right">Forgot Password?</a>
    </div>
  </div>
</div>

<div class="bottom-img">
  <img src="assets/img/login-bott.jpeg" alt="" width="1300">
</div>